html,
body {
  background-color: transparent;
  background-image: url('../img/fondo.png');
  background-repeat: repeat;
  background-size: 1000px 1000px;
  margin: 0;
  overflow-x: hidden;
}
p {
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 20px;
  color:#642b0a;
}

h2 {
  font-family: 'Poetsen One', sans-serif;
  color: #5f3014;
}

.dino-container {
  width: 600px;          
  height: 100px;         
  position: relative;
  background: #be9c6f; 
  border: 4px solid #463613;  
  margin: 20px auto;

  overflow: visible; /* permite que elementos se vean fuera */
}




.dino-container img.draggable {
  position: absolute;
  width: 80px;
  cursor: move;
  user-select: none;
  -webkit-user-drag: none;
}

.draggable {
  width: 80px;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
  cursor: move;
}

