footer {
  padding: 30px;
  text-align: center;
  position: relative;
  bottom: auto;
  width: 100%;
}
footer.bg-custom {
  background-color: #8b6224;
}

footer a {
  color: #ffbf75; /* Color del enlace */
  text-decoration: none; /* Eliminar el subrayado */
}

footer a:hover {
  color: #ec8524; 
  text-decoration: underline; 
}

footer p {
  color: #ffffff;
}
