footer {
  padding: 30px;
  text-align: center;
  position: relative;
  bottom: auto;
  width: 100%;
}

footer.bg-custom {
  background-color: #8a4c23c0;
}

footer a {
  color: #ffcc66;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #e67f1a;
  text-decoration: underline;
}

footer p {
  color: #ffffff;
}
