body {
  background-color: #e0ac5e;
  margin: 0;
  overflow-x: hidden;
}

.btn {
  background-color: #3c6b16;
  color: white;
  font-family: 'Bubblegum Sans', sans-serif;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 10px 20px !important;
}
.btn:hover {
  transform: scale(1.02);
   background-color: #3c6b16;
  color:#FFD571;
}

.section-partidas h2 {
  margin-bottom: 1rem;
}

.section-jugar {
  height: 100vh;
  background-image: url('img/dinosaurio-fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}


.section-jugar .content {
  max-width: 600px;
  padding: 2rem;
}

h2 {
  font-family: 'Poetsen One', sans-serif;
  color: #5f3014;
}

p {
  font-family: 'Bubblegum Sans', sans-serif;
  font-size: 20px;
  color:#642b0a;
}


.custom-table thead th {
  background-color: #995c29 !important;
  color: rgb(255, 236, 208) !important;
  font-family: 'Bubblegum Sans', sans-serif;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}

.custom-table th,
.custom-table td {
  border: 2px solid #532402 !important;
}

